<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913487026448-lfb52q2t9av9nt5rb5nor7ron4iftq7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913487026448-lfb52q2t9av9nt5rb5nor7ron4iftq7b</string>
	<key>API_KEY</key>
	<string>AIzaSyAQExOvK4FBdrRCraryEwD428bnGLMfGaU</string>
	<key>GCM_SENDER_ID</key>
	<string>913487026448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesuspod.ios</string>
	<key>PROJECT_ID</key>
	<string>new-jesuspod</string>
	<key>STORAGE_BUCKET</key>
	<string>new-jesuspod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913487026448:ios:58089d9d14412f0ddead95</string>
</dict>
</plist>